<!DOCTYPE html>

<html lang="ja" ng-app="throbber-demo">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="janus_wel">
  <meta name="description" content="AngularJS throbber demo">

  <link rel="stylesheet" href="../throbber.css" media="all">
  <link rel="stylesheet" href="styles/main.css" media="all">

  <script src="scripts/lib/angular.min.js"></script>
  <script src="scripts/lib/angular-resource.min.js"></script>
  <script src="scripts/lib/spin.min.js"></script>
  <script src="../throbber.js"></script>
  <script src="scripts/main.js"></script>

  <title>AngularJS throbber</title>
</head>

<body ng-controller="demo-controller as demo">
  <button ng-click="demo.http()">window with $http</button>
  <button ng-click="demo.httpWithConfig()">element with $http</button>
  <button ng-click="demo.resource()">with $resource</button>
  <div class="{{demo.status}}">
    <div>{{demo.data.data}}</div>
    <div>{{demo.data.status}}</div>
    <div>{{demo.data.headers}}</div>
    <div>{{demo.data.config}}</div>
  </div>
  <div class="spacer01"> </div>
  <div class="spacer02"> </div>
</body>
</html>
